@import "~assets/styles/colors";
@import "~assets/styles/fonts";

.delivery-product {
  padding: 20px 10px;
  .product-image {
    position: relative;
    margin-bottom: 10px;
    min-height: 170px;
    .icon {
      position: absolute;
      right: -5px;
      top: -15px;
      img {
        width: 22px;
      }
    }
    img {
      width: 100%;
    }
    .overlay {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 10px;
      color: #fff;
      text-align: center;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 5px 10px;
    }
  }
  .product-content {
    h4,
    p,
    span {
      font-family: "CircularStd-Medium";
      margin-bottom: 5px;
    }
    h4,
    span {
      font-size: 15px;
      color: #000;
    }
    p {
      color: $gray;
      font-size: 13px;
    }
  }
}
