@import '~assets/styles/colors';

.field {
  position: relative;
  border-bottom: 1px solid $gray;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &.active {
    border-bottom: 1px solid $blue;
  }


  input[type="text"],
  input[type="password"],
  input[type="email"] {
    padding: 15px 0;
    font-size: 19px;
    width: 100%;
    border: 0;
    outline: none;
  }

  .correct {
    right: 0;
    width: 15px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }

  .showHidePassword {
    position: absolute;
    right: 0;
    top: -10px;
    font-size: 11px;
  }

  label {
    font-size: 19px;
    color: $gray;
    word-spacing: -5px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    pointer-events: none;
    transition: .3s ease;
    left: 0;

    &.active {
      transform: translateY(-100%);
      color: $orange;
      top: 0;
      font-size: 13px;
    }
  }
}