@import "~assets/styles/colors";
@import "~assets/styles/fonts";
.custom-button {
  width: 295px;
  height: 50px;
  border-radius: 50px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  outline: none;
  border: 0;
  background: transparent;
  font-family: "CircularStd-Medium";
  line-height: 50px;
  text-align: center;
  img {
    margin-right: 5px;
    width: 14px;
    vertical-align: middle;
  }
  &.blue {
    border: 1px solid $blue;
    color: $blue;
  }
  &.orange {
    color: #fff;
    background: $orange;
  }
  a {
    padding: 15px 55px;
  }
}
