@import '~assets/styles/colors';
@import '~assets/styles/fonts';
.welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: $orange;
  font-family: 'CircularStd-Medium';
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  img {
    width: 300px;
  }
}