@import "~assets/styles/colors";
@import "~assets/styles/fonts";

.delivery-category-rewards {
  position: relative;
  .current-point {
    position: absolute;
    right: 0;
    top: -15px;
    width: 122px;
    height: 30px;
    font-size: 16px;
    background: #f7f7f7;
    text-align: center;
    line-height: 30px;
    z-index: 3;
    color: #000;
  }
  h2.title {
    padding-left: 20px;
    font-size: 20px;
    margin: 10px 0;
  }

  .delivery-category-products {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;

    .delivery-product {
      background: #fff;
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
}
