@import "~assets/styles/colors";
@import "~assets/styles/fonts";

* {
  scroll-behavior: smooth;
}

.delivery-category-menu {
  .tab {
    white-space: nowrap;
    overflow-y: hidden;
    position: fixed;
    top: 171px;
    width: 100%;
    background: #fff;
    z-index: 10;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      font-family: "CircularStd-Medium";
      display: inline-block;
      padding: 0 20px;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.3);

      &:hover,
      &.active {
        color: #000;
      }
    }
  }
  h2.title {
    padding-left: 20px;
    font-size: 20px;
    margin: 10px 0;
  }

  .delivery-category-products {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;

    .delivery-product {
      background: #fff;
      max-width: 50%;
      flex: 0 0 50%;
    }
  }
}
