@import "~assets/styles/colors";
@import "~assets/styles/fonts";

.delivery {
  background: #f7f7f7;
}
.slide-show-item {
  padding: 25px 0;
  background: #fff;
  margin-bottom: 30px;
  &.gray {
    background: #f7f7f7;
    margin-bottom: 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    img {
      width: 5px;
      margin-left: 5px;
    }
    p {
      font-size: 13px;
      font-family: "CircularStd-Medium";
      word-spacing: -4px;
    }
    h3 {
      font-size: 17px;
      font-family: "CircularStd-Black";
    }
  }
}
