@import "~assets/styles/colors";
@import "~assets/styles/fonts";

.ticket {
  width: 310px;
  background: #fff;
  padding: 20px;
  position: relative;
  margin: 20px auto;
  &:before,
  &:after {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    content: "";
    width: 22px;
    height: 22px;
    background: #f7f7f7;
  }
  &:before {
    left: 0;
    transform: translate(-50%, -50%);
  }
  &:after {
    right: 0;
    transform: translate(50%, -50%);
  }
  h3,
  p {
    font-family: "CircularStd-Medium";
    line-height: 1;
  }
  h3 {
    font-size: 14px;
  }
  p {
    color: $gray;
    font-size: 12px;
  }
  .code {
    text-align: center;
    img {
      width: 190px;
    }
  }
  .line {
    width: 100%;
    height: 1px;
    border: 1px dashed $gray;
    margin: 20px 0;
  }
}
