@import '~assets/styles/colors';
@import '~assets/styles/fonts';

.popupError {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 90px;
  background: $red;
  transition: .3s ease;

  &.active {
    transform: translateY(0);
  }
  p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 17px;
    color: #fff;
    font-family: 'CircularStd-Medium';
    font-size: 16px;
    z-index: 2;
    margin-bottom: 0;
  }
}