@import '~assets/styles/fonts';
@import '~assets/styles/colors';
.Lander {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .Lander__logo{
        width: 210px;
        margin-top: 15px;
    }
    h1 {
        font-family: 'CircularStd-Black';
        font-size: 30px;
        letter-spacing: .3px;
        line-height: 37px;
        margin: 40px 0;
        padding: 0 18px;
    }
    .Lander__image {
        width: 295px;
        height: 365px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    p, a {
        font-family: 'CircularStd-Medium';
        color: #8E99A8;
        letter-spacing: 0.75px;
        font-size: 16px;
    }
    a {
        text-decoration: underline;
    }
    .custom-button {
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .Lander__bottom {
        padding-top: 25px;
        background: linear-gradient(to top, #fff 80%, rgba(255,255,255,.6) 100%);
        width: 100%;
        margin-top: -40px;
        position: relative;
    }
}