@import "~assets/styles/colors";
@import "~assets/styles/fonts";

.delivery-category-layout * {
  font-family: "CircularStd-Medium";
}

.delivery-category-layout {
  &.short {
    padding-top: 185px;
  }
  padding-top: 214px;
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .header__logo {
      display: flex;
      align-items: center;

      img {
        width: 10px;
      }

      .logo {
        margin: 0 10px;
        width: 25px;
      }

      h1 {
        font-size: 18px;
        margin-bottom: 2px;
      }
    }

    .cart {
      width: 50px;
      height: 40px;
      border-radius: 11px;
      display: flex;
      align-items: center;
      background: #323232;
      justify-content: center;

      img {
        width: 15px;
        margin-right: 5px;
      }

      span {
        font-size: 12px;
        color: #fff;
      }
    }

    .tab {
      display: flex;
      border-bottom: 1px solid #f2f2f2;
      position: relative;
      flex: 0 0 100%;
      max-width: 100%;

      .search-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 15px;
      }

      .tab__item {
        font-size: 17px;
        position: relative;
        padding: 2rem 0;
        transition: 0.3s ease;
        color: rgba(0, 0, 0, 0.3);

        &:hover,
        &.active {
          color: #000;
          &:before {
            transform: scaleX(1);
          }
        }

        &:before {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: #323232;
          content: "";
          transition: 0.3s ease;
          transform: scaleX(0);
          transform-origin: left;
        }

        &:not(:last-child) {
          margin-right: 35px;
        }
      }
    }
  }
}
