@import '~assets/styles/fonts';
@import '~assets/styles/colors';


.SignUp * {
  font-family: 'CircularStd-Medium';
}

.SignUp {
  height: 100vh;
  position: relative;
  padding: 15px 20px 0 20px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 15px;
    }

    a {
      font-size: 17px;
      color: $orange;
      text-decoration: none;
    }
  }

  .SignUp__icon {
    text-align: center;
    margin: 15px 0 40px;

    img {
      width: 45px;
    }
  }

  .SignUp__items {
    display: flex;
  }

  .SignUp__item {
    max-width: 100%;
    flex: 0 0 100%;
    height: 90vh;
    &.final {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      h2 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
      .custom-button {
        position: absolute;
        line-height: 50px;
        bottom: 40px;
        width: 212px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .field-input {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 30px;
      }

      select {
        border: 0;
        border-right: 1px solid $gray;
        outline: none;
        background: transparent;
        font-size: 19px;
        border-radius: 0;
        margin-right: 15px;
      }

      .verCode {
        width: 100%;
        border: 0;
        outline: none;
        background: #EEF0F4;
        border-radius: 10px;
        width: 60px;
        height: 87.5px;
        margin: 0 7.5px;
        padding: 0;
        font-size: 32px;
        text-align: center;
      }

      .carretDown {
        font-size: 19px;
        color: $gray;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;


        width: 7px;
        left: 45px;
      }

    }

    .note {
      font-size: 14px;
      color: $gray;
      margin-top: 17px;
      text-align: center;
      line-height: 18px;
      word-spacing: -4px;

      span {
        color: #000;
        padding-left: 5px;
      }

      a {
        font-size: 17px;
        color: $orange;
        text-decoration: none;
        color: $gray;
        display: block;
        margin-top: 40px;
        text-decoration: underline;
      }

      span {
        text-decoration: underline;
      }
    }

    h2 {
      font-size: 32px;
      text-align: center;
      margin-bottom: 35px;
      word-spacing: -10px;

    }
  }

  .custom-button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
  }
}
.ant-drawer-content-wrapper {
  height: calc(100vh - 15px)!important;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  overflow: hidden;
  img {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 9px;
  }
  h3 {
    font-family: 'CircularStd-Medium';
    font-size: 16px;
    margin: 40px 0 10px;
  }
  p {
    margin-bottom: 10px;
    color: $gray;
  }
}