@import "~assets/styles/colors";
@import "~assets/styles/fonts";

.header-delivery * {
  font-family: "CircularStd-Medium";
}

.header-delivery {
  background: #fff;
  padding: 5px 0 25px;
  box-shadow: 0 -11px 15px #000;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    .avatar img {
      width: 22px;
    }

    .title {
      text-align: center;
      margin-left: 25px;

      h1 {
        font-size: 14px;
        margin-bottom: 0;
        position: relative;

        img {
          width: 10px;
          margin-left: -3px;
        }
      }

      p {
        font-size: 11px;
        color: #8e99a8;
        line-height: 1;
        word-spacing: -3px;
        margin: 0;
      }
    }

    .cart {
      width: 50px;
      height: 40px;
      border-radius: 11px;
      display: flex;
      align-items: center;
      background: #323232;
      justify-content: center;

      img {
        width: 11px;
        margin-right: 5px;
      }

      span {
        font-size: 12px;
        color: #fff;
      }
    }
  }
}

.logo {
  text-align: center;
  position: relative;

  img {
    margin-bottom: 7px;
    width: 120px;
  }

  p {
    word-spacing: -3px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    color: $gray;
  }
}

.search {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search__input {
    max-width: 77%;
    flex: 0 0 77%;
    display: flex;
    background: #f0f1f1;
    align-items: center;
    padding-left: 19px;
    border-radius: 25px;

    input {
      width: 100%;
      height: 50px;
      padding: 10px 0;
      font-size: 14px;
      color: $gray;
      outline: none;
      border: 0;
      word-spacing: -3px;
      background: transparent;
    }

    img {
      width: 15px;
      margin-right: 15px;
    }
  }

  .points {
    max-width: 17%;
    flex: 0 0 17%;
    height: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #323232;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    line-height: 1;
    padding-left: 10px;

    span {
      margin-bottom: 5px;
      font-family: "CircularStd-Bold";
      display: inline-block;
    }
  }
}

.more-info {
  .close-icon {
    width: 15px;
    z-index: 2;
  }

  h2 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 0;
    font-family: "CircularStd-Medium";
  }

  p {
    font-size: 17px;
    line-height: 25px;
    color: $gray;
    margin-bottom: 30px;
    font-family: "CircularStd-Medium";
  }

  .logo {
    margin-bottom: 30px;
    img {
      position: relative;
      width: 120px;
      margin: 0 auto;
      top: 0;
      left: 0;
    }

    h2 {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -60%);
      text-align: center;
    }
  }

  .calendar {
    .row {
      display: flex;
      margin-bottom: 5px;

      .day,
      .time {
        font-size: 17px;
        color: $gray;
        font-family: "CircularStd-Medium";
      }

      .day {
        max-width: 25%;
        flex: 0 0 25%;
      }

      .time {
        max-width: 75%;
        flex: 0 0 75%;
        padding-left: 35px;
      }
    }
  }
}
